.about-us-main-sec {
  background-color: #5c62a5;
  color: var(--white);
}
.about-us-main-sec .container {
  margin: auto;
  display: flex;
  gap: 167px;
  padding-top: 125px;
  padding-bottom: 125px;
}
.about-content-sec1,
.about-content-sec2 {
  width: 50%;
}
.about-content-sec1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.about-content-sec2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-content-sec2 div {
  display: flex;
  gap: 64px;
}
.about-content-sec2 div h6 {
  display: flex;
  align-items: center;
}

/* About page testiminials */
.about-page-testimonial-main {
  width: 100%;
}
.about-page-testimonial-main .swiper-slide {
  /* background-color: green; */
  padding: 50px;
  border-radius: 100px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #97b0c6;
  color: white;
}
.testimonial-section {
  padding: 50px 0;
}
.testimonial-section .container-sec {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.testimonial-section .container {
  margin: auto;
}
.about-who-we-are {
  letter-spacing: 3px;
}
