/* INNER PAGE BANNER */
.contact-banner-sec {
  position: relative;
}
.contact-banner-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.contact-banner-sec::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(42, 38, 38, 0.605);
}
.contact-banner-title h1 {
  font-weight: normal;
  position: absolute;
  color: var(--white);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 50px;
}
.contact-banner-sec .container {
  margin: auto;
}
/* Contact CTA Section */
.cta-contact .container {
  margin: 25px auto;
  border-radius: 15px;
  border: 1px solid var(--grey-color);
}
.cta-contact-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
  background-color: #6a96b9;
}
.cta-contact-container .cta-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cta-contact-container .cta-btn {
  margin: auto;
}
.cta-contact-container .cta-btn a {
  background-color: var(--white);
  color: black;
  padding: 15px 30px;
  border-radius: 15px;
  transition: 0.45s ease;
  border: 1px solid var(--grey-color);
}
.cta-contact-container .cta-btn a:hover {
  background-color: var(--dark-blue);
  color: white;
}

/* Contact quick link */
.contact-quick-links {
  background-color: #003b6d;
}
.contact-quick-links .container {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 40px 30px;
  color: var(--white);
  justify-content: space-between;
  flex-direction: row;
}
.contact-quick-links .container h2 {
  font-size: 33px;
}
.contact-quick-links a {
  background-color: white;
  border: 1px solid gray;
  color: #003b6d;
  font-size: 18px;
  border-radius: 20px;
  padding: 7px 20px;
  transition: 0.5s ease;
  text-align: center;
  height: 100%;
}
.contact-quick-links a:hover {
  background-color: #003b6d;
  color: white;
}

.title-letter-spacing {
  letter-spacing: 3px;
  font-weight: 400 !important;
}
.color-violet {
  color: #4f5697;
}
