/* Contact form */
.contact-page-section {
  background-color: #efeeee;
  color: black;
}
.contact-page-section .contact-page-content-sec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 35%;
}
.contact-page-section .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 135px;
  padding-bottom: 125px;
}
.contact-page-content-sec .contact-h6 {
  color: var(--grey-color);
}
.contact-page-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-page-form input {
  background: none;
  border: 1px solid black;
  height: 45px;
  border-radius: 23px;
  padding-left: 10px;
  color: black;
}
.contact-page-form textarea {
  background: none;
  border: 1px solid #003b6d;
  border-radius: 23px;
  padding-left: 10px;
  padding-top: 10px;
  color: var(--white);
}
.contact-page-form .contact-page-btn {
  background-color: #003b6d;
  width: 35%;
  color: white;
  border: 2px solid #003b6d;
  padding: 10px 10px;
  border-radius: 25px;
  transition: 0.45s ease;
}
.contact-page-form .contact-page-btn:hover {
  background-color: white;
  color: #003b6d;
}
.contact-page-form-sec {
  max-width: 570px !important;
  width: 50%;
}
.contact-page-form .name-email input {
  width: 100%;
}
.contact-page-form .name-email {
  display: flex;
  gap: 30px;
  flex-direction: row;
}
.contact-page-form-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 25px;
}
.contact-page-content-sec a {
  color: black;
}

.contact-page-addess-sec {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
