body {
  overflow-x: hidden;
}
header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.288);
}
header .container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .link-sec ul {
  display: flex;
  justify-content: center;
  gap: 35px;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
  margin-right: 50px;
}

header .link-sec ul li a {
  font-size: 15px;
  color: var(--white);
}
.logo-sec img {
  width: 170px;
}
.main-banner-sec {
  position: relative;
}
.main-banner-sec .banner-content {
  max-width: 1170px;
  /* width: 100%; */
  /* background-color: green; */
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
.main-banner-slider img {
  width: 100%;
  position: relative;
}
.main-banner-slider .swiper-slide {
  position: relative;
}
.main-banner-slider .swiper-slide::before {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.5;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .main-banner-slider img::before {
  content: "";
  top: 0;
  left: 0;
  z-index: 999;
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
} */
.banner-content .btn-one,
.banner-content .btn-two {
  padding: 10px 20px;
  border: 2px solid var(--white);
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  transition: 0.5s ease;
}
.banner-content .btn-one:hover,
.banner-content .btn-two:hover {
  background-color: var(--dark-blue);
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 999 !important;
}
.banner-content .btn {
  padding-top: 20px;
}
.main-banner-sec h1 {
  color: var(--white);
}
.main-banner-sec h5 {
  color: var(--white);
}
.why-choose {
  display: flex;
  justify-content: space-between;
  padding-top: 132px;
  padding-bottom: 105px;
  margin: auto;
}
.why-choose-us-sec .container {
  gap: 40px;
}

/* .swiper-button-next::after {
  opacity: 0;
} */
/* .swiper-button-next {
  width: 172px !important;
  height: 172px;
  background-color: var(--orange-color);
  opacity: 1 !important;
  transform: rotate(45deg) translateX(130px) translateY(-50px);
} */
.main-banner-slider {
  /* height: 100vh; */
}

/* Why Choose Us Section */
.why-choose-us-sec .slide2-content h6 {
  font-weight: normal;
}
.swiper2-overlay-sec h6 {
  font-weight: normal;
}
.slide2-content h6 {
  font-weight: normal;
}
.why-content-sec-one {
  max-width: 472px;
}
.why-content-sec-one h6:nth-child(1) {
  color: #6a96b9;
  /* font-family: "Karla", sans-serif; */
  font-weight: bold;
  padding-bottom: 20px;
}
.why-content-sec-one-second-h6 {
  line-height: 28px;
  padding-top: 30px;
}
/* .why-content-sec-one h6:nth-child(2) {
  display: none;
} */
.why-content-sec-one h3 {
  font-weight: 500;
}
.why-content-sec-two {
  max-width: 470px;
}
.why-content-sec-two .why-content-sec-two-ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.why-content-sec-two .why-content-sec-two-ul h3 {
  font-weight: bold;
  /* font-family: "Karla", sans-serif; */
  padding-bottom: 15px;
}
.why-content-sec-two .why-content-sec-two-ul h6 {
  color: var(--grey-color);
  /* font-family: "Karla", sans-serif; */
  font-weight: regular;
}
.why-content-sec-two .why-content-sec-two-ul li {
  position: relative;
}
.why-content-sec-two .why-content-sec-two-ul li::after {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  width: 11px;
  height: 23px;
  background-color: #003b6d;
  border-radius: 5.5px;
}

/* WHAT WE DO SECTION */
.what-we-do-sec-h6 {
  color: #6a96b9;
  font-weight: bold;
  padding-bottom: 20px;
}
.what-we-do-sec h2 {
  font-weight: bold;
  padding-bottom: 30px;
}
.what-we-do-sec .container {
  margin: auto;
}
.mySwiper2 .slide-img img {
  width: 100%;
  /* background-color: black; */
  /* height: 300px; */
}
.mySwiper2 .swiper-wrapper {
  padding-bottom: 100px;
}
.mySwiper2 .swiper-slide {
  position: relative;
  /* border: 1px solid black; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  overflow: hidden;
  background-color: var(--white);
}
.mySwiper2 .swiper2-overlay-sec {
  transition: 1s ease;
}
.mySwiper2 .swiper2-overlay-sec h3 {
  color: var(--white);
}
.mySwiper2 .swiper2-overlay-sec h6 {
  color: var(--white);
}
.mySwiper2 .swiper-slide:hover .swiper2-overlay-sec {
  top: 0;
}

.mySwiper2 .swiper2-overlay-sec {
  position: absolute;
  top: 150%;
  left: 0;
  /* background-color: var(--white); */
  /* background: linear-gradient(
    90deg,
    rgba(71, 79, 128, 1) 0%,
    rgba(71, 79, 142, 1) 18%,
    rgba(158, 161, 189, 1) 100%
  ); */

  /* background: rgb(217,220,246); */
  background: radial-gradient(
    circle,
    rgb(170, 174, 216) 0%,
    rgba(88, 94, 160, 1) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  /* opacity: 0; */
}

.slide2-content {
  padding: 30px 10px;
}
.swiper2-overlay-sec {
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
.swiper2-overlay-sec h3 {
  font-size: 20px;
  color: white;
}
.swiper2-overlay-link {
  color: black;
  transition: 1s ease;
}
.swiper2-overlay-link:hover {
  color: var(--white);
}
/* Contact Form */
.contact-form-sec .container {
  margin: auto;
}
.contact-content-one {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.contact-content-one input {
  width: 100%;
  border-radius: 22.2px;
  height: 45px;
  border: none;
  background-color: var(--light-blue-color);
  padding-left: 20px;
  border: 1px solid #6a96b9;
}
.contact-content-two textarea {
  width: 100%;
  border: none;
  border-radius: 22.2px;
  background-color: var(--light-blue-color);
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid #6a96b9;
}
.contact-form-sec h2 {
  padding-bottom: 20px;
}
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-form-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  background-color: #6a96b9;
  border: 1px solid #6a96b9;
  color: white;
  transition: 0.5s ease;
}
.contact-form-btn {
  position: relative;
  margin-left: auto;
}
.contact-form-btn:hover {
  background-color: var(--light-blue-color);

  color: #6a96b9;
}

/* Map Section style */
.map-section {
  padding-top: 50px;
}
.map-section .container {
  margin: auto;
}

/* FOOTER SECTION */
footer {
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: bold;
}
footer .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 132px;
}
footer .container li a {
  color: var(--white);
}
footer .footer-sub-sec {
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-width: 300px;
}
.footer-logo {
  width: 150px;
}
.container-two {
  max-width: 1170px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-address-sec .address h6 {
  line-height: 32px;
}
.opening-time-sec .open-time h6 {
  line-height: 32px;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.social-media-icons span {
  /* width: 45px;
  height: 45px; */

  border: 1px solid var(--white);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.what-we-do-sec .slide2-content h4 {
  color: #003b6d;
}
.portfolio-home-sec .portfolio-content h4 {
  text-align: center;
  color: #003b6d;
}
.banner-content .btn {
  display: flex;
  gap: 20px;
}
.portfolio-home-sec .portfolio-content-main h6 {
  color: #6a96b9;
}
.contact-form-sec .container h6 {
  color: #6a96b9;
  padding-bottom: 15px;
}
