.portfolio-main .container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
/* .portfolio-main .container > div {
  height: 300px;
  background-color: blue;
  flex: 1 0 300px;
} */

.portfolio-content-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 0 85px 0;
}
.portfolio-content-main h5 {
  line-height: 25px;
}
.porfolio-item .portfolio-content {
  max-width: 368px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* background-color: yellow; */
  padding: 30px;
}
.porfolio-item .portfolio-content {
  color: black;
}
.portfolio-content a {
  color: var(--white);
  font-size: 12px;
  padding-right: 26px;
  display: flex;
  gap: 26px;
  transition: 0.5s ease;
  background-color: var(--dark-blue);
}
.portfolio-content a:hover {
  color: black !important;
  background-color: var(--white);
}
.porfolio-item {
  border: 1px solid var(--grey-color);
  transition: 0.25s ease;
}
.porfolio-item:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
/* PORTFOLIO ITEMS */
.portfolio-item-main .container {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.portfolio-items-sec {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.portfolio-items-sec .item-portfolio {
}
.portfolio-items-sec .swiper-slide {
  overflow: hidden;
}
.portfolio-item-main .portfolio-items-sec .swiper-slide {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.portfolio-item-main .portfolio-items-sec .swiper-slide .slide-img {
  width: 100%;
  /* height: 200px; */
  background-color: gray;
}
.portfolio-items-sec .swiper-slide:hover .swiper2-overlay-sec {
  top: 75%;
}
.portfolio-item-main .swiper2-overlay-sec {
  transition: 1s ease;
  position: absolute;
  /* background-color: #495190; */
  background-color: #58568f;
  top: 100%;
  width: 100%;
  height: 100%;
}
.portfolio-home-sec .portfolio-content-main {
  padding-bottom: 50px;
}
.portfolio-content-sec-link {
  border: 1px solid #858a95;
  display: inline;
  width: 60%;
  border-radius: 10px;
  padding: 15px 0 15px 15px;
}
.portfolio-content-sec-link img {
  transition: 1s ease;
}
.portfolio-content-sec-link:hover {
  background-color: #003b6d;
  color: white !important;
}
.portfolio-content-sec-link:hover img {
  transform: translateX(10px);
}
