/* HEADER */
.mobile-menu-icon {
  display: none;
}
.what-we-do-sec {
  background-color: #f2f7f8;
  padding: 50px 0;
  /* margin-bottom: 50px; */
}
footer ul li a:hover {
  color: rgb(106, 150, 185);
}
.social-media-icons span {
  cursor: pointer;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
}
.contact-quick-links {
  margin-bottom: 50px;
}
.portfolio-home-sec {
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: #f2f7f8;
}
@media only screen and (max-width: 1200px) {
  .main-banner-slider img {
    width: auto;
  }
}
@media only screen and (max-width: 1170px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* PORTFOLIO PAGE */
  .portfolio-main .container {
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  .service-one {
    padding-top: 50px;
  }
  .why-choose {
    padding-bottom: 50px;
  }
  .why-content-sec-one-second-h6 {
    padding-top: 0;
  }
  .main-banner-sec .banner-content .btn {
    display: none;
  }
  footer .container-two h6 {
    padding-top: 10px;
    font-size: 12px;
  }
  .about-page-testimonial-main .swiper-slide {
    width: 100%;
  }
  .main-banner-sec {
    padding-top: 98px;
  }
  .main-banner-sec .banner-content {
    top: 50%;
  }
  .contact-page-section .contact-page-content-sec {
    max-width: 100%;
  }
  footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-quick-links a {
    font-size: 20px;
  }
  .contact-quick-links h2 {
    font-size: 28px;
  }
  .why-content-sec-two .why-content-sec-two-ul li::after {
    display: none;
  }
  .main-banner-slider img {
    width: 100%;
  }
  .link-sec {
    display: none;
  }
  .mobile-menu-icon {
    width: 40px;
    height: 30px;
    /* background-color: red; */
    position: absolute;
    right: 50px;
    display: flex;
    transform: translateY(50%);
  }
  .mobile-menu-icon span {
    position: absolute;
    top: 0;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
  }
  .mobile-menu-icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .mobile-menu-icon span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }

  .link-sec ul {
    /* display: block !important; */
    flex-direction: column;
    background-color: white;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: start !important;
    top: 98px;
    left: 0;
    height: 100vh;
    z-index: 999;
    width: 100%;
  }
  .link-sec ul li {
    padding: 10px 10px;
  }
  .link-sec ul li a {
    color: black !important;
  }
  header {
    position: fixed;
    background-color: black;
  }
  .main-banner-slider {
    height: 100%;
  }
  .banner-content h1 {
    font-size: 30px;
  }
  .banner-content .btn-one,
  .banner-content .btn-two {
    padding: 10px 15px;
    font-size: 12px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .why-choose-us-sec .why-choose {
    flex-direction: column;
  }
  .what-we-do-sec .contact {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-content-one {
    flex-direction: column;
  }
  footer .container {
    flex-wrap: wrap;
  }
  footer .container > div {
    flex-basis: 50%;
  }
  .why-choose {
    padding-top: 50px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .why-choose-us-sec h2 {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .social-media-icons span {
    width: 35px;
    height: 35px;
  }
  .social-media-icons {
    gap: 10px;
  }
  footer .container-two {
    flex-direction: column;
  }
  header .container {
    align-items: stretch;
  }
  footer .container > div:nth-child(1) {
    padding-bottom: 50px;
    padding-right: 16px;
  }
  footer .container > div:nth-child(3) {
    padding-right: 16px;
  }
  /* SERVICE PAGE */
  .service-content-sec-two {
    flex-direction: column;
  }
  .service-image-sec img {
    width: 100%;
  }
  .service-image-sec {
    order: 2;
  }
  .cta-contact-container .cta-content {
    width: 100%;
    padding-bottom: 50px;
  }
  .cta-contact-container {
    flex-direction: column;
  }

  /* ABOUT PAGE */
  .about-us-main-sec .container {
    flex-direction: column;
  }
  .about-content-sec1,
  .about-content-sec2 {
    width: 100%;
  }
  .about-us-main-sec .container {
    gap: 77px;
  }
  .about-us-main-sec .container {
    padding-top: 70px;
  }
  .about-us-main-sec .container {
    padding-bottom: 80px;
  }

  /* CONTACT PAGE */
  .contact-page-section .container {
    flex-direction: column;
  }
  .contact-page-form-sec {
    width: 100%;
  }
  .portfolio-items-sec {
    margin: auto;
  }
  .contact-banner-title h1 {
    font-size: 45px;
  }
  /* CONTACT QUICK LINKS */
  .contact-quick-links .container {
    flex-direction: column !important;
    gap: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
