.service-one .container {
  margin: auto;
}
.service-one {
  padding-top: 100px;
  padding-bottom: 50px;
}
.service-content-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-content-sec-two {
  display: flex;
  gap: 30px;
}

.service-content-sec h3 {
  padding-bottom: 20px;
}
.service-content-sec .service-h6 {
  padding-bottom: 20px;
  text-align: justify;
}
.service-content-sec-one {
  padding-bottom: 50px;
  padding-top: 30px;
}
.service-content-sec-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.service-one h3 {
  padding-bottom: 15px;
}
.service-page-swiper-main {
  max-width: 500px;
}
