* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  font-family: "Work Sans", sans-serif;
} */
/* <uniquifier>: Use a uniquifier for the class name
<weight>: Use a value from 200 to 800 */

.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1170px;
  /* background-color: rgba(78, 59, 59, 0.186); */
}
textarea:focus,
input:focus {
  outline: none;
}

/* FONT */
/* font-family: 'Work Sans', sans-serif;
    font-family: 'Karla', sans-serif; */
:root {
  /* font */
  --primary-font: "Work Sans", sans-serif;
  --secondary-font: "Karla", sans-serif;
  /* color */
  --orange-color: #f6663f;
  --pink-color: #ee2a4e;
  --light-orange: #f68e56;
  --dark-blue: #003b6d;
  --light-blue-color: #f1f8fc;
  --white: #ffffff;
  --grey-color: #858a95;
}
h1 {
  font-size: 60px;
  font-weight: 600;
}
h2 {
  font-size: 36px;
  font-weight: 600;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
h4 {
  font-size: 22px;
  font-weight: 300;
}
h5 {
  font-size: 18px;
  font-weight: 300;
}
h6 {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
p {
  font-size: 14px;
  font-weight: 300;
}
.h-blue-color {
  color: #6a96b9;
}
